/*Css is set-up mobile first, for laptop/desktop styling see media queries*/

*{
    box-sizing: border-box;
}

/*css variables*/
:root{
    /* --color-primary: #ee0979;
    --color-primary-darker: #de0979;
    --color-secondary: #ff6a00; */
    --color-primary: #ee0979;
    --color-primary-darker: #de0979;
    --color-secondary: #ff6a00;
    --color-light: #fff;
    --color-light-trans: rgba(255,255,255, .5);
    --color-dark: #333;
    --color-dark-trans: rgba(0,0,0, .3);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h4, h5, h6 {
    font-weight: 500;
}

.wrapper{
    min-height: 100vh;
    padding-bottom: 3em;
}

.container{
    width: 90%;
}

#search-wrap{
    /* background: #232526;  
    background: -webkit-linear-gradient(180deg, #343434, #131313); 
    background: linear-gradient(180deg, #343434, #131313); */

    /* background: #cb2d3e; 
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  
    background: linear-gradient(to right, #ef473a, #cb2d3e);  */

    /* background: #56CCF2;  
    background: -webkit-linear-gradient(-30deg, #2F80ED, #56CCF2); 
    background: linear-gradient(-30deg, #2F80ED, #56CCF2);  */

    background: var(--color-primary); 
    background: -webkit-linear-gradient(to right, var(--color-secondary), var(--color-primary)); 
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary)); 

}

.row{
    margin-bottom: 0;
}

#search-wrap, #search-wrap input{
    color: var(--color-light);
}

#results-wrap{
    background: #ccc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #ddd);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff, #ddd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.shadow{
    text-shadow: 4px 4px var(--color-primary-darker);
}

/*-------------------Custom Buttons-------------------*/
.button{
    font-size: 1.125em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.button:focus{
    outline:0;
}

.button-block{
    width: 100%;
}

.button-outline{
    border: 1px solid var(--color-light);
}

.button-outline:hover{
    background-color: var(--color-light);
    color: var(--color-dark);
    box-shadow: none;
}

/*-------------------Movie Wrapper-------------------*/
.movie-wrap{
    padding: 1.5em;
    margin-bottom: 1.5em;
    color: var(--color-dark);
    background: var(--color-light);
    box-shadow: 5px 5px var(--color-primary-darker);
}

.movie-title-wrap{
    display: flex;
    padding: .75em 0;
    margin-bottom: .5em;
    border-bottom: 1px solid var(--color-dark-trans);
}

.movie-title{
    width: 100%;
    text-transform: capitalize;
}

.movie-title, .movie-wrap .button{
    margin: 0;
    padding: 0;
}

.movie-wrap .button{
    transition: color .5s linear;
    color: var(--color-dark-trans);
}

.movie-wrap .button:hover{
    color: var(--color-dark);
}

.movie-wrap .button:focus{
    background: none;
}


/*-------------------Input Color Overrides-------------------*/
/* label color */
.movie-form .input-field label {
    color: var(--color-light-trans);
}

/* label focus color */
.movie-form .input-field input[type=text]:focus+label {
    color: var(--color-light);
}

/* label underline focus color */
.movie-form .input-field input[type=text]{
    border-bottom: 1px solid var(--color-light-trans);
}

/* label underline focus color */
.movie-form .input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color-light);
    box-shadow: 0 1px 0 0 var(--color-light);
}

/* valid color */
.movie-form .input-field input[type=text].valid {
    border-bottom: 1px solid var(--color-light);
    box-shadow: 0 1px 0 0 var(--color-light);
}

/* invalid color */
.movie-form .input-field input[type=text].invalid {
    border-bottom: 1px solid var(--color-light-trans);
    box-shadow: 0 1px 0 0 var(--color-light-trans);
}

/* icon prefix focus color */
.movie-form .input-field .prefix.active {
    color: var(--color-light);
}

/*-------------------Auto-fill Overrides-------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-light);
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

/*---------------Media Queries---------------*/
/*Desktop*/
@media only screen and (min-width: 1024px) {
    .container{
        width: 50%;
    }
}

/*Tablet/Ipad*/
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .container{
        width: 70%;
    }
}

/* 
@media only screen and (max-width: 767px) and (min-width: 540px) {
 
} */