/*Css is set-up mobile first, for laptop/desktop styling see media queries*/

*{
    box-sizing: border-box;
}

/*-------------------Variables-------------------*/
:root{
    --color-primary: rgba(238, 9, 121, 1); 
    --color-primary-trans:  rgba(238, 9, 121, .5);
    --color-primary-darker: #d40875;
    --color-secondary: #fd2c1d;
    --color-light:  rgba(235,235,235, 1);;
    --color-light-trans: rgba(235,235,235, .5);
    --color-dark: #333;
    --color-dark-trans: rgba(0,0,0, .3);
}

/*-------------------Typography-------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h4, h5, h6 {
    font-weight: 500;
}

h1 {
    color: var(--color-light);
}

h2 {
 font-size: 2.25em;
}

.vs{
    color: var(--color-light-trans);
}

/*-------------------Layout-------------------*/
.wrapper{
    min-height: 100vh;
    padding: 3em 0;
}

.container{
    width: 95%;
}

.row{
    margin-bottom: 0;
    margin-top: 0;
}

.sub-row{
    margin-bottom: 1.5em;
}

/*-------------------Search Wrap-------------------*/
#search-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(19,19,19,1);
    background: -webkit-linear-gradient(90deg, rgba(60,60,60,1), rgba(19,19,19,1));
    background: linear-gradient(90deg, rgba(60,60,60,1), rgba(19,19,19,1));
}

#search-cont{
    padding: 2em 1em;
    border-radius: 2em;
    color: var(--color-light);
    background: var(--color-primary); 
    background: -webkit-linear-gradient(to right, var(--color-secondary), var(--color-primary)); 
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary)); 
}

#search-cont h1{
    margin-top: 0;
}

#search-wrap, #search-wrap input{
    color: var(--color-light);
}

#search-wrap .helper-text{
    color: var(--color-light);
}

#comment{
    color: var(--color-light);
}


/*-------------------Chips-------------------*/
.chip{
    background: none;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--color-light);
    border: .75px solid var(--color-light);
}

.chip:hover{
    color: var(--color-primary);
    background-color: var(--color-light);
}

/*-------------------Movie Wrapper-------------------*/
.close-container{
    position: relative;
}

.movie-wrap{  
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border: 2px solid var(--color-primary-darker);
    color: var(--color-dark);
    background: var(--color-light);
    background: -webkit-linear-gradient(90deg, #f0f0f0, #ddd);  
    background: linear-gradient(90deg, #f0f0f0, #ddd);
}

.movie-title-wrap{ 
    display: flex;
    padding: 1em;
    line-height: 4em;
    font-size: 1.5em;
    border-bottom: 1px solid #ddd;
    background: var(--color-light);
    background: -webkit-linear-gradient(90deg, #fff, #ddd);  
    background: linear-gradient(90deg, #fff, #ddd);
}

.movie-plot-wrap{
    padding: 1em;
}

.movie-content-wrap{
    width: 100%;
}

.movie-title{
    width: 100%;
    text-transform: capitalize;
}

.movie-title, .movie-wrap .button{
    margin: 0;
    padding: 0;
}

.movie-poster-wrap{
    display: flex;
    max-height: 200px;
    overflow: hidden;
}

.movie-poster {
    padding: 0;
    margin: 0;
    align-self: center;
    opacity: .85;
    transition: opacity .25s linear;
    width: 100%;
}

.movie-wrap:hover .movie-poster{
    opacity: 1;
}

.movie-info{
    list-style: none;
}

/*-------------------Results Wrap-------------------*/
#results-wrap{
    position: relative; 
    margin-top: 0;
    background: rgba(19,19,19,1);
    background: -webkit-linear-gradient(90deg, rgba(70,70,70,1), rgba(19,19,19,1));
    background: linear-gradient(90deg, rgba(70,70,70,1), rgba(19,19,19,1));
}

/*-------------------Chart Wrap-------------------*/
.chart-wrap{
    background: white;
    margin-bottom: 2em;
    box-shadow: 5px 5px rgba(0,0,0,.9);
}

.chart-wrap canvas{
    padding: 2em;
}

.chart-title{
    line-height: 4em;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background: #ccc; 
    background: -webkit-linear-gradient(to right, #fff, #ddd);  
    background: linear-gradient(to right, #fff, #ddd);
}

#movie-title1{
    color: rgba(238, 9, 121, 1);
}

#movie-title2{
    color: rgba(8, 196, 159, 1);
}

/*-------------------Custom Buttons-------------------*/
.button{
    font-size: 1.125em;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    background: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background-color 0s linear;
}

.button:focus{
    outline:0;
}

.button-block{
    width: 100%;
}

.button-outline{
    border-radius: 2em;
    color: var(--color-light);
    border: 1px solid var(--color-light);
}

.button-outline:hover, .button-outline:focus{
    background-color: var(--color-light);
    color: var(--color-primary);
    box-shadow: none;
}

.button-close{
    position: absolute;
    right: 1em;
    top: 1em;
    color: var(--color-light-trans);
    transition: color .5s linear;
}

.button-close i{
    font-size: 2em;
}

.button-close:hover{
    color: var(--color-light);
}

.button-delete{
    transition: color .5s linear;
    color: var(--color-light-trans);
    position: absolute;
    background-color: var(--color-primary-darker);
    padding: 1em;
    top: 0;
    right: 0;
    border-radius: 0 0 0 1.5em;
}

.button-delete:hover{
    color: var(--color-light);
}

.button-delete:focus{
    background: none;
}

/*-------------------Input Color Overrides-------------------*/
/* label color */
.movie-form .input-field label {
    color: var(--color-light-trans);
}

/* label focus color */
.movie-form .input-field input[type=text]:focus+label {
    color: var(--color-light);
}

/* label underline focus color */
.movie-form .input-field input[type=text]{
    border-bottom: 1px solid var(--color-light-trans);
}

/* label underline focus color */
.movie-form .input-field input[type=text]:focus {
    border-bottom: 1px solid var(--color-light);
    box-shadow: 0 1px 0 0 var(--color-light);
}

/* valid color */
.movie-form .input-field input[type=text].valid {
    border-bottom: 1px solid var(--color-light);
    box-shadow: 0 1px 0 0 var(--color-light);
}

/* invalid color */
.movie-form .input-field input[type=text].invalid {
    border-bottom: 1px solid var(--color-light-trans);
    box-shadow: 0 1px 0 0 var(--color-light-trans);
}

/* icon prefix focus color */
.movie-form .input-field .prefix.active {
    color: var(--color-light);
}

/*-------------------Auto-fill Overrides-------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-light);
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

/*---------------Media Queries---------------*/
@media only screen and (min-width: 890px) {
    .button-delete{
        transition: color .5s linear;
        color: var(--color-dark-trans);
        background-color: transparent;
        padding: 0;
        top: 1.5em;
        right: 1em;
        border-radius: 0;
    }
    
    .button-delete:hover{
        color: var(--color-dark);
        background-color: transparent;
    }

    .movie-wrap{
        flex-direction: row;
    }

    .movie-poster-wrap{
        display: inline-block;
        max-height: none;
        overflow: hidden;
    }
    .movie-poster-wrap{
        margin-bottom: -5px;
    }

    .movie-poster{
        max-height: 400px;
        align-self: stretch;

    }
}

/*Desktop*/
@media only screen and (min-width: 1200px) {

    .container{
        width: 60%;
    }
}

/*Tablet/Ipad*/
@media only screen and (max-width: 1199px) and (min-width: 890px) {
   

    .container{
        width: 70%;
    }
}